---
import react from '@astrojs/react'
import useState from '@astrojs/react'
import { proyectosJson } from "../data/projects.json";
---
<div class="contenido">
  <div class="seccion-izquierda">
    <div class="seccion-titulos">
      <h1 class="subtitulo">FRONTEND/BACKEND</h1>
      <h1 class="subtitulo">FULLSTACK</h1>
      <h2 class="titulo">Proyectos</h2>
      
    </div>
  </div>
  <div class="seccion-derecha">
  <div class="seccion-filtros">
    <div _ngcontent-ng-c1445413196="" class="filters">
      <p _ngcontent-ng-c1445413196="" class="">Todos</p>
      <p _ngcontent-ng-c1445413196=""class="">Full Stack</p>
      <p _ngcontent-ng-c1445413196="" class="">Frontend</p>
      <p _ngcontent-ng-c1445413196="" class="">Backend</p>
    </div>
  </div>
    {
      proyectosJson.map((proyectosJson) => (
        <div _ngcontent-ng-c1445413196="" class="project">
          <div _ngcontent-ng-c1445413196="" class="info">
            <>
              <header _ngcontent-ng-c1445413196="">
                <h3 _ngcontent-ng-c1445413196="">{proyectosJson.tipo}</h3>
              </header>
              <div _ngcontent-ng-c1445413196="" class="text">
                <>
                  <h2 _ngcontent-ng-c1445413196="">{proyectosJson.titulo}</h2>
                  <p _ngcontent-ng-c1445413196="">{proyectosJson.descripcion}</p>
                  <p _ngcontent-ng-c1445413196="">{proyectosJson.descripcion1}</p>
                </>
              </div>
              <div _ngcontent-ng-c1445413196="" class="ancors">
                {proyectosJson.links.map((link) => (
                  <a
                    _ngcontent-ng-c1445413196=""
                    href={link.url}
                    target="_blank"
                  >
                    <img
                      _ngcontent-ng-c1445413196=""
                      src="/iconos footer/github.svg"
                      alt="github"
                      class="svg"
                    />
                    {link.tipo}
                  </a>
                ))}
              </div>
              <div _ngcontent-ng-c1445413196="" class="technologies">
                {proyectosJson.tecnologias.map((tecnologia) => (
                  <p _ngcontent-ng-c1445413196="">{tecnologia}</p>
                ))}
              </div>
            </>
          </div>
          <div _ngcontent-ng-c1445413196="" class="cover">
            <img
              _ngcontent-ng-c1445413196=""
              src={proyectosJson.imagen}
              class="img-cover"
            />
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .contenido {
    display: inline-block;
    width: 100%;
    min-height: auto;
    background-color: #1a1a1a;
    padding-top: 150px;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    
  }

  .seccion-izquierda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50px;
  }

  .seccion-derecha {
    flex: 1;
    padding-left: 20px;
  }
  .seccion-filtros {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%; 
}

.seccion-titulos {
    display: grid;
    align-items: start;
    margin-left: 20px;
    width: max-content;
    justify-items: center;
    text-align: center;
  }

  .subtitulo, .titulo {
  width: 100%; 
  max-width: 100%;
  height: auto; 
  margin: 0;
}

  h1 {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 3px;
  }

  h2 {
    font-family: "PlusJakartaSans", serif;
    font-weight: 700;
    font-size: 3rem;
    color: #b8ec4c;
  }

  a.filtros-texto {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #b8ec4c;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .contenido {
      grid-template-columns: 1fr;
      padding-top: 100px;
    }
    .seccion-izquierda {
    grid-template-columns: 1fr; 
  }
  }
  
</style>
<style ng-app-id="ng">
  .projects-container[_ngcontent-ng-c1445413196] {
    width: var(--container-size);
  }

  /* h2[_ngcontent-ng-c1445413196] {
    font-size: 25px;
    margin: 10px 0;
  } */

  header[_ngcontent-ng-c1445413196] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  header[_ngcontent-ng-c1445413196] h3[_ngcontent-ng-c1445413196] {
    color: #ffffff;
  }

  header[_ngcontent-ng-c1445413196] h3[_ngcontent-ng-c1445413196]{
    font-family: "Inter", serif;
    font-weight: 600;
  }
  header[_ngcontent-ng-c1445413196] p[_ngcontent-ng-c1445413196] {
    font-size: 15px;
    margin: 0;
    font-family: "Inter", serif;
    font-weight: 400;
  }

  .filters[_ngcontent-ng-c1445413196] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #252627;
    padding: 5px;
    margin-top:20px;
    width: 600px;
    border: 0.5px solid #424242;
    gap: 5px;
  }

  .filters[_ngcontent-ng-c1445413196] p[_ngcontent-ng-c1445413196] {
    font-size: 14px;
    text-align: center;
    padding: 3.5px;
    border-radius: 20px;
    cursor: pointer;
    color: #c0bdbd;
    border: 0.5px solid transparent;
  }

  .filters[_ngcontent-ng-c1445413196] p[_ngcontent-ng-c1445413196]:hover {
    color: #e7e2e2;
  }

  .filters[_ngcontent-ng-c1445413196] :hover[_ngcontent-ng-c1445413196] {
    color: #e7e2e2;
    background-color: #353535;
    border: 0.5px solid #5f6061;
  }
  .filters[_ngcontent-ng-c1445413196] .selected[_ngcontent-ng-c1445413196] {
    color: #e7e2e2;
    background-color: #353535;
    border: 0.5px solid #5f6061;
  }
  @media screen and (width <= 520px) {
    .filters[_ngcontent-ng-c1445413196] {
      gap: 0;
    }

    .filters[_ngcontent-ng-c1445413196] p[_ngcontent-ng-c1445413196] {
      width: 100%;
      font-size: 12px;
    }
  }

  @media screen and (width <= 340px) {
    .filters[_ngcontent-ng-c1445413196] p[_ngcontent-ng-c1445413196] {
      font-size: 9px;
    }
  }

  .project[_ngcontent-ng-c1445413196] {
    margin-top: 80px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    border-bottom: 1px solid #272829;
  }

  .project[_ngcontent-ng-c1445413196]:nth-child(6) {
    margin-bottom: 0;
  }

  .project[_ngcontent-ng-c1445413196]:nth-child(odd)
    .info[_ngcontent-ng-c1445413196] {
    order: 2;
  }

  .project[_ngcontent-ng-c1445413196]:nth-child(odd)
    .cover[_ngcontent-ng-c1445413196] {
    order: 1;
  }

  .img-cover[_ngcontent-ng-c1445413196] {
    width: 100%;
    border-radius: 10px;
  }

  .cover[_ngcontent-ng-c1445413196] {
    border-radius: 16px;
    background-color: #dbe0e409;
    height: fit-content;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .info[_ngcontent-ng-c1445413196] p[_ngcontent-ng-c1445413196] {
    margin: 10px 0;
  }

  p[_ngcontent-ng-c1445413196] {
    color: #ffffff;
  }

  #trello[_ngcontent-ng-c1445413196] {
    opacity: 0.8;
  }

  .technologies[_ngcontent-ng-c1445413196] {
    display: flex;
    gap: 25px;
    font-size: 11px;
    margin: 10px 0 0;
    background-color: #1c1d1d;
    color: #bfbbbba6;
    border-radius: 30px;
    width: fit-content;
    padding: 0 20px;
    border: 1px solid #28292a;
  }

  .buttons[_ngcontent-ng-c1445413196],
  .ancors[_ngcontent-ng-c1445413196] {
    display: flex;
    gap: 15px;
    margin: 20px 0;
  }

  a[_ngcontent-ng-c1445413196] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
    width: 100px;
    padding: 8px 0;
    border-radius: 12px;
    background-color: #272829;
    font-size: 14px;
    cursor: pointer;
    color: #c7c7c7;
    border: 0.5px solid #373839;
    text-decoration: none;
  }

  .svg[_ngcontent-ng-c1445413196] {
    opacity: 0.5;
    height: 12px;
    width: 12px;
  }

  .svg-visit[_ngcontent-ng-c1445413196] {
    opacity: 0.5;
    height: 15px;
    width: 15px;
  }

  .svg-video[_ngcontent-ng-c1445413196] {
    opacity: 0.5;
    height: 15px;
  }

  a[_ngcontent-ng-c1445413196]:hover {
    border: 0.5px solid #646669;
  }
  @media screen and (max-width: 768px) {
    .filters[_ngcontent-ng-c1445413196] {
      gap: 0;
      width: 100%;
    }
  }
  @media screen and (width <= 1100px) {
    header[_ngcontent-ng-c1445413196] {
      grid-template-columns: repeat(1, 1fr);
    }

    .ancors[_ngcontent-ng-c1445413196] {
      flex-wrap: wrap;
    }

    .projects-container[_ngcontent-ng-c1445413196] {
      width: 80%;
    }

    .project[_ngcontent-ng-c1445413196] {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 50px;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }

    .project[_ngcontent-ng-c1445413196] .info[_ngcontent-ng-c1445413196] {
      order: 2;
    }

    .project[_ngcontent-ng-c1445413196] .cover[_ngcontent-ng-c1445413196] {
      order: 1;
    }
  }

  @media screen and (width <= 630px) {
    .technologies[_ngcontent-ng-c1445413196] {
      display: none;
    }

    .buttons[_ngcontent-ng-c1445413196] {
      flex-wrap: wrap;
    }
  }
</style>
<script is:inline>
  document.addEventListener("DOMContentLoaded", (event) => {
    const allProjects = document.querySelectorAll(".project");
    const buttons = document.querySelectorAll(".filters p");
    buttons.forEach((button) => {
      button.addEventListener("click", (event) => {  
        buttons.forEach((btn) => {
          btn.classList.remove("selected");
        });
        event.target.classList.add("selected");
        const filter = event.target.textContent.toLowerCase();
        if (filter === "todos") {
          allProjects.forEach((project) => {
            project.style.display = "flex";
          });
        } else {
          allProjects.forEach((project) => {
            const category = project.querySelector("header h3").textContent.toLowerCase();
            if (category === filter) {
              project.style.display = "flex";
            } else {
              project.style.display = "none";
            }
          });
        }
      });
    });
  });
</script>